#root {
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

ul,
li {
  list-style: none;
}

input {
  padding: 1em 1.2em;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid transparent;
}

.tasks {
  margin: 0;
  padding: 0;
}

.task {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.162);
  margin-bottom: 12px;
  border-radius: 6px;
  padding: 0.7em 0;
  font-weight: 600;
}

.controls {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 468px) {
  .controls {
    flex-direction: column;
    gap: 12px;
  }
}

.counters {
  display: flex;
  justify-content: space-between;
}

.counter {
  font-weight: 800;
  color: #646cff;
}

.counter > span {
  background-color: rgba(255, 255, 255, 0.164);
  padding: 0 4px;
  border-radius: 50%;
  color: white;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
